<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<style>
  label {
    margin-bottom: 10px;
  }

  .image-radio {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  /* HIDE RADIO */
  input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  input[type=radio] + .image-radio {
    cursor: pointer;
    margin-right: 10px;
  }

  /* CHECKED STYLES */
  input[type=radio]:checked + .image-radio {
    border: 2px solid var(--primary);
  }

  /* UPLOAD STYLES */
  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-out;
  }

  .custom-file-upload:hover {
    background-color: #e6e6e6;
    font-size: 1.1em;
    border: 1px solid #e6e6e6;
  }

  .clear-file-btn {
    padding: 0;
  }

  .clear-file-btn:focus {
    outline:none;
    box-shadow: none;
  }

  .drop-file-area {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px auto;
    padding: 12px;
    width: 100%;
  }

  .drop-file-alert {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 0.9em;
  }

  .drop-file-alert i {
    font-size: 2.5rem;
  }

  .hidden {
    display: none;
  }

</style>

<% content_for(:page_desc) { t("room.invitation_description", name: @room.name) } %>

<% access_code_set = @room.access_code.present? %>
<% valid_access_code = access_code_set && @room.access_code == session[:access_code] %>
<% moderator_access_code_set = @room.moderator_access_code.present? && moderator_code_allowed? %>
<% valid_moderator_access_code = valid_moderator_access_code(session[:moderator_access_code]) %>
<% authorized = valid_access_code || valid_moderator_access_code || !access_code_set %>

<%= render 'rooms/components/room_event', render_recordings: authorized do %>
  <% if room_authentication_required %>
    <h2><%= t("administrator.site_settings.authentication.user-info") %></h2>
  <% elsif authorized %>
    <%= form_for room_path(@room), method: :post do |f| %>
      <div class="input-group">
        <%= f.hidden_field(:search, :value => params[:search])%>
        <%= f.hidden_field(:column, :value => params[:column])%>
        <%= f.hidden_field(:direction, :value => params[:direction])%>
        <%= f.text_field :join_name,
            required: true,
            class: "form-control join-form",
            placeholder: t("enter_your_name"),
            value: "#{@name}",
            readonly: !current_user.nil?, 
            autofocus: true,
            maxlength: 26
            %>
        <span class="input-group-append">
          <button id="room-join" type="submit" class="btn btn-primary btn-sm px-7 form-control join-form">
            <%= (!@room_running && @anyone_can_start) ? t("room.start") : t("room.join") %>
          </button>
        </span>
      </div>

      <p style="margin: 15px 0 10px 0;">Select your avatar or drop file here to add them:</p>
      <div id="dropContainer" class="drop-file-area">
        <div id="avatarContainer" style="margin-top: 10px;">
          <% @template_avatar.each do |k, v|%>
            <label>
              <%= f.radio_button :join_avatar, k.to_s, :checked => k.to_s == "none_or_loggedin_user_avatar" %>
              <img class="image-radio" src="<%= v %>">
            </label>
          <% end %>
        </div>
        <label id="uploadLabel" class="custom-file-upload">
          <%= f.file_field :join_upload_avatar, accept: 'image/*', id: 'uploadInput', onchange: "uploadFileChange(this)"%>
          <i class="fas fa-plus"></i>
        </label>

        <div id="dropAlert" class="drop-file-alert hidden">
          <i class="fas fa-cloud-upload-alt"></i>
          Drop file here to add them
        </div>
      </div>
      
      <p id="flashAlert" style="color: red"></p>

      <% if display_joiner_consent %>
        <label class="custom-control custom-checkbox">
          <input id="joiner-consent" type="checkbox" class="custom-control-input" required>
          <h4 class="text-left text-danger mt-4 custom-control-label"><%= t("room.recording_present") %></h4>
        </label>
      <% end %>
    <% end %>

    <% if moderator_access_code_set && !valid_moderator_access_code %>
      <!-- <hr class="mt-2 float-right w-100 moderator-code-hr"> -->
      <label class="moderator-code-label form-label"><%= t("room.optional_moderator_access_code") %></label>
      <%= render "rooms/components/enter_access_code_form", access_code_type: 'moderator' %>
    <% end %>
  <% else %>
    <%= render "rooms/components/enter_access_code_form", access_code_type: 'standard_access' %>
  <% end %>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function uploadFileChange(input) {
    const formData = new FormData();
    formData.append("avatar", input.files[0]);

    axios({
      method: 'POST',
      url: '/api/v1/uploads',
      data: formData,
      headers: {
      'Content-Type': 'multipart/form-data'
      }
    }).then(res => {
      const uploadedUrl = res.data.avatar_url;

      const splitArr = res.data.avatar_url.split('/');
      const uploadedFileName = splitArr[splitArr.length - 1];

      const hostUrl = `${window.location.protocol}//${window.location.hostname}`;
      const port = window.location.port;
      const hostPath = port ? `${hostUrl}:${port}${uploadedUrl}` : `${hostUrl}${uploadedUrl}`

      const newAvatarLabel =  document.createElement("LABEL"); 
      const newRadioInput = document.createElement("INPUT");
      newRadioInput.setAttribute("type", "radio");
      newRadioInput.setAttribute("value", `custom_avatar_${uploadedFileName}`);
      newRadioInput.setAttribute("name", `/<%=@room.uid%>[join_avatar]`);
      const newImage = document.createElement("IMG");
      newImage.setAttribute("class", "image-radio");
      newImage.setAttribute("src", hostPath);

      newAvatarLabel.appendChild(newRadioInput);
      newAvatarLabel.appendChild(newImage);
      
      document.getElementById("avatarContainer").appendChild(newAvatarLabel)
    })
    .catch(err => {
      if(err.response.status === 400)
        document.getElementById("flashAlert").innerHTML = err.response.data.message;
      else
        document.getElementById("flashAlert").innerHTML = "Something went wrong. Please try again."
    });
  }

  dropContainer.ondragover = dropContainer.ondragenter = function(e) {
    // dragging on:
    displayDropAlert();
    e.preventDefault();
  };

  dropContainer.addEventListener("dragleave",function(e) {
    // dragging out:
    displayAvatarContainer();
    e.preventDefault();
  }, true);

  dropContainer.ondrop = function(e) {
    // dropped:
    displayAvatarContainer();

    const dT = new DataTransfer();
    dT.items.add(e.dataTransfer.files[0]);
    uploadInput.files = dT.files;

    uploadFileChange(uploadInput);
    e.preventDefault();
  };

  function displayAvatarContainer() {
    avatarContainer.classList.remove("hidden");
    uploadLabel.classList.remove("hidden");
    dropAlert.classList.add("hidden");
  }

  function displayDropAlert() {
    avatarContainer.classList.add("hidden");
    uploadLabel.classList.add("hidden");
    dropAlert.classList.remove("hidden");
  }

</script>
